:root {
    --primary_color: #AED9E0;
    --secondary_color: #B8F2E6;
    --accent1_color: #5E6472;
    --accent2_color: #403F4C;
    --accent3_color: #FAAA8D;
}

@media only screen and (min-width:768px) {   
    .img-name {
        display: flex;
        align-items: center;
    }

    header img {
        width: 150px;
        height: auto;
        margin-bottom: 10px;
    }

    header span {
        font-size: 2rem;
        color: white;
        font-weight: bold;
        margin-bottom: 10px;
    }

    header nav {
        display: flex;
        justify-content: space-around;
        width: 100%;
        background-color: var(--accent1_color);
        padding: 10px 0;
        border-radius: 8px;
    }

    header nav a{
        flex: 1;
        text-align: center;
        padding: 10px;
        text-decoration: none;
        color: white;
        font-size: 1.5rem;
    }
    main {
        max-width: 1200px;
        margin: 0 auto;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

    main h2 {
        grid-column: span 3;
        margin-top: 20px;
    }

    main p {
        padding-bottom: 10px;
    }

    #certificateList {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        justify-items: center;
    }

    #certificateList h3 {
        grid-column: span 3;
    }

}
