@media (max-width:768px) {
    .volkhov-regular {
        font-family: "Volkhov", serif;
        font-weight: 400;
        font-style: normal;
    }

    .fira-sans-condensed-regular {
        font-family: "Fira Sans Condensed", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    * h {
        font-family: "Fira Sans Condensed", sans-serif;
        font-weight: 400;
        font-style: normal;
    }

    * p {
        font-family: "Volkhov", serif;
        font-weight: 400;
        font-style: normal;
    }

    header button {
        display: block;
        background: none;
        border: none;
        font-size: 1.5rem;
        cursor: pointer;
        color: white;
        z-index: 1001;
    }

    header span {
        flex-grow: 1;
        margin: 20px;
        white-space: nowrap;
        font-size: 30px;
    }

    header nav {
        display: none;
        flex-direction: column;
        background-color: var(--primary_color);
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        gap: 10px;
        padding: 20px 0;
        box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
        z-index: 1000;
    }

    header nav.open {
        display: flex;
    }

    header nav a {
        text-decoration: none;
        font-size: 1.5rem;
        padding: 10px 20px;
        text-align: center;
        color: white;
    }

    header nav a:hover {
        text-decoration: underline;
        background-color: var(--accent2_color);
        color: blueviolet;
    }

    header img {
        width: 100px;
        height: auto;
        position: relative;
    }

    h1 {
        padding: 10px;
    }

    h2 {
        background-color: var(--accent1_color);
        margin: 10px;
        padding: 5px;
        text-align: center;
        border-radius: 5px;
        color: var(--secondary_color);
    }

    .country_card img,
    .country_card p {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 10px;
    }

    #certificates {
        display: flex;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        margin: 10px;
        border-bottom: 3px solid black;
    }

    #certificates a {
        flex: 1;
        text-align: center;
        background-color: black;
        color: white;
        text-decoration: none;
        padding: 10px;
        margin: 5px;
        border-radius: 5px;
        font-size: 1.2rem;
    }

    #certificates a:hover {
        background-color: black;
        color: var(--accent3_color);
    }

    #certificateList {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .certCard {
        background-color: var(--accent1_color);
        color: var(--secondary_color);
        text-align: center;
        padding: 15px;
        margin: 10px auto;
        border-radius: 5px;
        width: 80%;
        max-width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
    }
}
